<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="../css/node_modules/normalize.css">
	<link rel="stylesheet" type="text/css" href="../css/grid.css">
	<link rel="stylesheet" type="text/css" href="../css/animate.css">
	<link rel="stylesheet" type="text/css" href="../css/ionicons.min.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
	<link rel="stylesheet" type="text/css" href="../css/queries.css">
	<title>Recipe Book</title>
</head>
<body>

	<!-- Heading section -->
	<header>
		<nav>
			<div class="row"> <!-- Keep within 1140px width -->
				<ul class="main-nav js--main-nav">
				</ul>
				<a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a> <!-- No href -->
			</div>
		</nav>
		<div class="hero-text">
			<h1>Goodbye junkfood,<br> Hello super healthy home food.</h1>
			<a class="btn btn-full js--scroll-to-plans" href="/recipes">Start Cooking</a>

		</div>
	</header>

	<!-- Features section -->

	<section class="features js--features" id="features"> <!-- Use for sticky nav activation -->
		<div class="row">
			<h2>Eat Healthy &mdash; Be Healthy</h2> <!-- Longer dash + only use one h1, so using h2 -->
			<p class="long-copy">
				AT RECIPE BOOK, WE PROVIDE RECIPES FOR YUMMY AND TASTY DISHES!
			</p>
		</div>

<!-- Slide Show of cooking quotes -->
    <div class="slide-container">
      <img name="slide" align="middle" width:"500px" height:"500px" style="
    margin-left: 33.3%;">
    </div>
	</section>


	<section class="cities" id="cities">
		<div class="row">
			<h2>Most viewed Recipes in our RecipeBook</h2>
		</div>
		<div class="row js--wp-3">
			<div class="col span-1-of-4 box">
				<img src="../images/food1.jpg" alt="Sloppy Joes">
			<a href="/recipe/3">	<h3>Sloppy Joes</h3></a>

			</div>
			<div class="col span-1-of-4 box">
				<img src="../images/food2.jpg" alt="Potato Pancakes">
			<a href="/recipe/2">	<h3>Potato Pancakes</h3></a>

			</div>
			<div class="col span-1-of-4 box">
				<img src="../images/food3.jpg" alt="Mexican Rice">
			<a href="/recipe/4">	<h3>Mexican Rice</h3></a>

			</div>
			<div class="col span-1-of-4 box">
				<img src="../images/food4.jpg" alt="Beer Bread">
				<a href="/recipe/6"><h3>Beer Bread</h3></a>

			</div>
		</div>
	</section>

		<!-- Footer section -->
	<footer>
		<div class="row">
			<div class="col span-1-of-2">
				<ul class="footer-nav">
					<li>
						<a href="#">About us</a>
					</li>
					<li>
						<a href="#">Blog</a>
					</li>

				</ul>
			</div>
			<div class="col span-1-of-2">
				<ul class="social-icons">
					<li><a href="#"><i class="ion-social-facebook"></i></a></li>
					<li><a href="#"><i class="ion-social-twitter"></i></a></li>
					<li><a href="#"><i class="ion-social-instagram"></i></a></li>

				</ul>
			</div>
		</div>

	</footer>

    <script src="../js/index.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdn.jsdelivr.net/selectivizr/1.0.3b/selectivizr.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="../js/jquery.waypoints.min.js"></script>
	<script src="../js/scripts.js"></script> <!-- Sticky nav -->
</body>
</html>
